.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #341C52;
  padding: 10px 20px;
  color: white;
}

.navbar-brand {
  margin-left: 35px;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand a {
  color: white;  /* Establece el color del enlace a blanco */
  text-decoration: none;  /* Elimina el subrayado del enlace si lo deseas */
}

.navbar-brand a:hover {
  text-decoration: underline;  /* Opcional: Añade un efecto de subrayado al pasar el cursor */
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 60px;  /* Ajusta el espacio entre los elementos según sea necesario */
}

.navbar-nav li {
  color: white;
}

.navbar-nav li a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.navbar-nav li a:hover {
  text-decoration: underline;
}

.navbar-profile {
  margin-right: 35px;
}

.navbar-profile li {
  list-style: none;
}

.profile-link {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.profile-link:hover {
  text-decoration: none;  /* Elimina la decoración al pasar el cursor */
}



  